---
import Navigation from '@/components/Navigation.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1 class="text-primary">Hello World</h1>
	<Navigation />
</BaseLayout>
