---
import { socials } from '@/lib/socials';
const currentYear = new Date().getFullYear();
---

<footer class="container mx-auto border-t border-gray-200 dark:border-gray-800">
	<div class="flex flex-col items-center justify-between gap-y-2 p-4 text-center sm:flex-row sm:text-left">
		<div
			class="flex items-center space-x-4 text-sm text-gray-600 dark:text-gray-400"
		>
			{
				socials.map(({ name, url }) => (
					<a
						href={url}
						target="_blank"
						rel="noopener noreferrer"
						class:list={[
							'transition-colors duration-200',
							{ 'hover:text-gray-900 dark:hover:text-white': name === 'GitHub' },
							{ 'hover:text-blue-600 dark:hover:text-blue-400': name === 'LinkedIn' },
						]}
					>
						{name}
					</a>
				))
			}
		</div>
        <p class="text-sm text-gray-600 dark:text-gray-400">
            © {currentYear} Fabian Vieri. All rights reserved.
        </p>
	</div>
</footer>