---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';

import Footer from '@/components/Footer.astro';
import Navigation from '@/components/Navigation.astro';

const { pageTitle = 'Portofolio' } = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ClientRouter />
	</head>
	<body class="flex h-full flex-col bg-white dark:bg-gray-900">
		<Navigation />
		<main class="flex-1 overflow-auto">
			<div class="container mx-auto p-4"><slot /></div>
		</main>
		<Footer />
	</body>
</html>
